<style type="text/css">#poc{
	margin-top: 0px;
	margin-left: 0px;
	height: 600px;
	position: absolute;
	z-index: 1;
}
#boom {
	margin-top: 0px;
	margin-left: -220px;
	height: 750px;
	width: 1000px;
	position: absolute;
	z-index: 2;
}
#imogene {
	height: 300px;
	position: absolute;
	margin-top: 195px;
	margin-left: 230px;
	z-index: 4;
}
#villain {
	height: 300px;
	margin-top: 192px;
	margin-left: 450px;
	position: absolute;
	z-index: 3;
}</style> <div class="poc"> <img id="poc" src="/images/bgoceansky.bb26a7df.png" height="100%"> <img id="boom" src="/images/boom.7a709755.png" height="100%"> <img id="imogene" src="/images/imogene.faab4b00.png" height="100%"> <img id="villain" src="/images/villain.ca2adfc0.png" height="100%"> </div>